{{!<default}}
<div class="container">
	<h1>SignUp</h1>
	<form action="" method="POST">
		<input type="hidden" name="action" value="signup">
		<p>email</p>
		<input type="email" name="email">
		<p>Password</p>
		<input type="password" name="password">
		<input type="submit" value="SIGNUP">
	</form>
</div>